body {
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	/* align-items: center; */
	font-family: 'Jost', sans-serif;
}

:root {

	/**
	 * colors
	 */

	--rich-black-fogra-29: hsl(225, 25%, 9%);
	--rich-black-fogra-39: hsl(170, 21%, 5%);
	--raisin-black: hsl(228, 13%, 15%);
	--eerie-black: hsl(207, 19%, 11%);
	--light-gray: hsl(0, 3%, 80%);
	--gunmetal-1: hsl(229, 15%, 21%);
	--gunmetal-2: hsl(216, 22%, 18%);
	--gainsboro: hsl(0, 7%, 88%);
	--citrine: hsl(57, 97%, 45%);
	--xiketic: hsl(253, 21%, 13%);
	--gray-x: hsl(0, 0%, 74%);
	--white: hsl(0, 100%, 100%);
	--black: hsl(0, 0%, 0%);
	--jet: hsl(0, 0%, 20%);

	/**
	 * typography
	 */

	--ff-poppins: 'Poppins', sans-serif;

	--fs-1: 36px;
	--fs-2: 32px;
	--fs-3: 30px;
	--fs-4: 24px;
	--fs-5: 20px;
	--fs-6: 18px;
	--fs-7: 16px;
	--fs-8: 15px;
	--fs-9: 14px;
	--fs-10: 13px;
	--fs-11: 12px;
	--fs-12: 11px;

	--fw-500: 500;
	--fw-700: 700;

	/**
	 * transition
	 */

	--transition-1: 0.15s ease;
	--transition-2: 0.25s ease-in;

	/**
	 * spacing
	 */

	--section-padding: 100px;

}

#Movie_form {
	display: flex;
	align-items: center;
}

#Movie_form label img {
	width: 130px;
}

.main {
	width: 100%;
	overflow: hidden;
	/* margin-left: 10%; */
	background: var(--eerie-black);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	border-right: 2px solid #fff;
}

.main1 {
	/* display: none; */
	/* padding: 10px; */
	width: 100%;
	/* display: none; */
	/* top: 10%; */
	/* right: 233px; */
	background-color: var(--rich-black-fogra-29);
}

h3 {
	color: rgb(77, 77, 77);
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#time-table {
	display: flex;
	/* margin: 10px 0; */
}

#time-form {
	margin: 14px 0;
}

#time-form h4 {
	color: rgb(77, 77, 77);
	display: flex;
	align-items: center;
	margin-left: 47px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: bold;
}

input::placeholder {
	color: #fff;
}

textarea,
#Moviefile,
#moname {
	color: #fff;
	width: 75%;
	height: 50px;
	background: transparent;
	justify-content: center;
	display: flex;
	margin: 14px 15px;
	padding: 10px;
	border: 1px solid #fff;
	outline: none;
	border-radius: 5px;
}

#time-display #time {
	margin-left: 104px;
	/* margin-top: 4px; */
}

#time {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	outline: none;
	background: transparent;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 34%;
	border-radius: 5px;
	padding: 10px;
}

#inbtn {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	outline: none;
	background: transparent;
	margin-left: 103px;
	margin-top: 0;
	margin-bottom: 0;
	width: 34%;
	border-radius: 5px;
	padding: 10px;
}

#time1 {
	margin-left: 6.5rem;
	margin-top: 3px;
	margin-bottom: 0;
	width: 20%;
}

textarea::placeholder {
	color: #fff;
}

textarea {
	border: 1px solid #fff;
	/* height: 80px; */
	color: #fff;
}

#btnhead {
	/* width: 50px; */
	border: 1px solid var(--citrine);
}

#btnhead:hover {
	font-weight: bold;
	color: #000;
	background-color: var(--citrine);
}

select {
	margin: 14px 0;
	margin-left: 30px;
	width: auto;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #fff;
	background-color: var(--eerie-black);
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnMovie {
	width: 250px;
    height: 40px;
    /* margin: 10px auto; */
    justify-content: center;
    display: block;
    color: #fff;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    margin-top: 40px;
    outline: none;
    border: 1px solid var(--citrine);
    margin: 40px 20px;
    border-radius: 30px;
    transition: .2s ease-in;
    cursor: pointer;
    margin-bottom: 40px;
}

#btnMovie:hover {
	font-weight: bold;
	color: #000;
	background-color: var(--citrine);
}

#btn {
	border: 1px solid var(--citrine);
}

#btn:hover {
	font-weight: bold;
	color: #000;
	background-color: var(--citrine);
}

#chk:checked~.MovieFom {
	transform: translateY(-500px);
}

#chk:checked~.MovieFom label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 40px;
	padding: 25px;
	color: white;
	font-weight: bold;
}

.admin {
	/* min-height: 100px;
	max-height: 3000px; */
	height: 1700vh;
	width: 250px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	background-color: var(--eerie-black);
	border-left: 2px solid #fff;
	border-right: 1px solid #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.admin button a {
	color: #fff;
	text-decoration: none;
}

#cinematable {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	background-color: #fff;
	border-radius: 10px;
}

.inputmovie {
	display: flex;
}

#divtd6 {
	width: 140px;
	height: 200px;
	margin-bottom: 20px;
}

#divtd6 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

button,
#btn1,
#btn2 {
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	border: 1px solid #eee;
	color: #fff;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

#time-display #btn1,
#time-display #btn2 {
	margin: 0px 0px 2px 2px;
}

#btn {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 100px 2px 2px;
	border-radius: 5px;
}

#btn1 {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 0px 2px 2px;
	border-radius: 5px;
}

#btn2 {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 0 2px 2px;
	border-radius: 5px;
}

#btnadmin,
#btnadmin1 {
	border: 1px solid var(--citrine);
	width: 70px;
	height: 40px;
	margin: 10px;
	justify-content: center;
	display: block;
	font-size: 1em;
	background-color: transparent;
	font-weight: bold;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnadmin:hover,
#btnadmin1:hover {
	font-weight: bold;
	color: #000;
	background-color: var(--citrine);
}

#btnadmin {
	margin-left: 10px;
}

#chk:checked~.MovieFom {
	transform: translateY(-500px);
}

#chk:checked~.MovieFom label {
	transform: scale(1);
}

label {
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	padding: 20px;
	transition: .5s ease-in-out;
	/* margin-top: 10%; */
	color: rgb(77, 77, 77);
}

#btnadmin1 {
	margin-left: 10px;
	margin-right: 10px;
}

#cinematable {
	display: none;
	position: absolute;
	top: 10%;
	right: 233px;
	color: #000;
	background: #FFFFFF;
}

#table1 {
	width: 105%;
}

thead {
	width: 100%;
}

#tablebody {
	width: 100%;
}

#FormMovie1 tr th:nth-child(1) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#FormMovie1 tr th:nth-child(2) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#FormMovie1 tr th:nth-child(3) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#FormMovie1 tr th:nth-child(4) {
	/* text-align: center; */
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#FormMovie1 tr th:nth-child(5) {
	padding: 20px 30px;
	display: flex;
	color: #fff;
	justify-content: center;
	flex-direction: column;
}

#FormMovie1 tr td {
	color: var(--citrine);
	padding: 0 10px;
}

#FormMovie1 tbody {
	text-align: center;
}

.main {
	/* display: none; */
	/* display: inline-block; */
}