body {
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	font-family: 'Jost', sans-serif;
	background: #f6f5f7;
}

.main {
	width: 380px;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-left: 30%;
	background: #FFFFFF;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

form {
	display: flex;
	flex-direction: column;
}

h3 {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#time-table {
	display: flex;
	/* margin: 10px 0; */
}

#time-form {
	margin: 14px 0;
}

#time-form h4 {
	display: flex;
	align-items: center;
	margin-left: 47px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: bold;
}

textarea,
#Moviefile,
#moname {
	width: 70%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 14px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#time-display #time {
	margin-left: 104px;
	/* margin-top: 4px; */
}

#time,
#inbtn {
	height: 20px;
	border: none;
	outline: none;
	background: #e0dede;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 20%;
	border-radius: 5px;
	padding: 10px;
}

#inbtn {
	margin-top: 3px;
	margin-left: 6.5rem;
}

#time1 {
	margin-left: 6.5rem;
	margin-top: 3px;
	margin-bottom: 0;
	width: 20%;
}

textarea {
	height: 80px;
	color: #000;
}

select {
	margin: 14px 0;
	margin-left: 47px;
	width: 30%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #FF416C;
	background-color: #FF416C;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnMovie {
	width: 40%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin: 14px auto;
	margin-bottom: 2rem;
}

#chk:checked~.MovieFom {
	transform: translateY(-500px);
}

#chk:checked~.MovieFom label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 40px;
	color: white;
	font-weight: bold;
}

.admin {
	height: 100vh;
	width: 250px;
	overflow: hidden;
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

.admin button a {
	color: #fff;
	text-decoration: none;
}

#cinematable {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	background-color: #fff;
	border-radius: 10px;
}

.inputmovie {
	display: flex;
}

button,
#btn1,
#btn2 {
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	/* margin-top: 20px; */
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

#time-display #btn1,
#time-display #btn2{
	margin: 0px 0px 2px 2px;
}

#btn,
#btn1,
#btn2 {
	height: 42px;
	width: 40px;
	background-color: #e0dede;
	color: rgb(190, 190, 190);
	margin: 0 134px 2px 2px;
	border-radius: 5px;
}

#btnadmin,
#btnadmin1 {
	width: 70px;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	font-size: 1em;
	border: 1px solid #FF4B2B;
	background: #FF4B2B;
	font-weight: bold;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnadmin {
	margin-left: 10px;
}

#btnadmin1 {
	margin-left: 10px;
	margin-right: 10px;
}

#cinematable {
	display: none;
	position: absolute;
	top: 10%;
	right: 233px;
	color: #000;
	background: #FFFFFF;
}

#cinematable tr th {
	padding: 20px;
	font-size: 18px;
}

#cinematable tr th:nth-child(4) {
	padding: 20px 58px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#cinematable tr td {
	padding: 0 10px;
}

#cinematable tr td:nth-child(4) {
	display: flex;
}

#cinematable tbody {
	text-align: center;
}

.main {
	/* display: none; */
	/* display: inline-block; */
}