body {
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	/* min-height: 100vh; */
	font-family: 'Jost', sans-serif;
}

:root {

	/**
	 * colors
	 */

	--rich-black-fogra-29: hsl(225, 25%, 9%);
	--rich-black-fogra-39: hsl(170, 21%, 5%);
	--raisin-black: hsl(228, 13%, 15%);
	--eerie-black: hsl(207, 19%, 11%);
	--light-gray: hsl(0, 3%, 80%);
	--gunmetal-1: hsl(229, 15%, 21%);
	--gunmetal-2: hsl(216, 22%, 18%);
	--gainsboro: hsl(0, 7%, 88%);
	--citrine: hsl(57, 97%, 45%);
	--xiketic: hsl(253, 21%, 13%);
	--gray-x: hsl(0, 0%, 74%);
	--white: hsl(0, 100%, 100%);
	--black: hsl(0, 0%, 0%);
	--jet: hsl(0, 0%, 20%);

	/**
	 * typography
	 */

	--ff-poppins: 'Poppins', sans-serif;

	--fs-1: 36px;
	--fs-2: 32px;
	--fs-3: 30px;
	--fs-4: 24px;
	--fs-5: 20px;
	--fs-6: 18px;
	--fs-7: 16px;
	--fs-8: 15px;
	--fs-9: 14px;
	--fs-10: 13px;
	--fs-11: 12px;
	--fs-12: 11px;

	--fw-500: 500;
	--fw-700: 700;

	/**
	 * transition
	 */

	--transition-1: 0.15s ease;
	--transition-2: 0.25s ease-in;

	/**
	 * spacing
	 */

	--section-padding: 100px;

}

.main {
	width: 100%;
	overflow: hidden;
	/* margin-left: 10%; */
	background: var(--eerie-black);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
		border-right: 2px solid #fff;
}

#cinema_form {
	display: flex;
	align-items: center;
}

#cinema_form label img{
	width: 130px;
}

label {
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	padding: 20px;
	transition: .5s ease-in-out;
	/* margin-top: 10%; */
	color: rgb(77, 77, 77);
}

input::placeholder {
	color: #fff;
}

input {
	margin-left: 10px;
	width: 30%;
	height: 40px;
	background: transparent;
	justify-content: center;
	display: flex;
	border: 1px solid #fff;
	color: #fff;
	padding: 10px;
	outline: none;
	border-radius: 5px;
}

#button {
	width: 150px;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background-color: transparent;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: 1px solid var(--citrine);
	margin: 40px 20px;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

#chk:checked~.cinema {
	transform: translateY(-500px);
}

#chk:checked~.cinema label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 40px;
	color: white;
	padding: 25px;
	font-weight: bold;
}

.admin {
	height: 1700vh;
	width: 250px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	background-color: var(--eerie-black);
	border-left: 2px solid #fff;
	border-right: 1px solid #fff;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.admin button a {
	color: #fff;
	text-decoration: none;
}

#cinematable {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
}

button {
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

#btnadmin,
#btnadmin1 {
	border: 1px solid var(--citrine);
	width: 70px;
	height: 40px;
	margin: 10px;
	justify-content: center;
	display: block;
	font-size: 1em;
	background-color: transparent;
	font-weight: bold;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btn{
	border: 1px solid var(--citrine);
}

#btnadmin:hover,
#btnadmin1:hover,
#btn:hover,
#button:hover {
	font-weight: bold;
	color: #000;
	background-color: var(--citrine);
}

#btnadmin {
	margin: 10px;

}

#btnadmin1 {
	margin-left: 10px;
	margin-right: 10px;
}

#table1 {
	width: 100%;
}

thead {
	width: 100%;
}

#tablebody {
	width: 100%;
}

#cinematable {
	/* margin-left: 10%; */
	width: 100%;
	/* display: none; */
	position: absolute;
	/* top: 10%; */
	/* right: 233px; */
	background-color: var(--rich-black-fogra-29);
}

#cinematable tr th:nth-child(1) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#cinematable tr th:nth-child(2) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#cinematable tr th:nth-child(3) {
	text-align: center;
	padding: 20px;
	color: #fff;
	font-size: 18px;
}

#cinematable tr th:nth-child(4) {
	padding: 20px 58px;
	display: flex;
	color: #fff;
	justify-content: center;
	flex-direction: column;
}

#cinematable tr td {
	color: var(--citrine);
	padding: 0 10px;
}

#cinematable tr td:nth-child(4) {
	display: flex;
}

#cinematable tbody {
	text-align: center;
}

.main {
	/* display: none; */
	/* display: inline-block; */
}