body {
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.main {
	width: 380px;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-left: 30%;
	background: transparent;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
}

.main1 {
	display: none;
	/* padding: 10px; */
	width: auto;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-left: 5%;
	background: transparent;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
}

form {
	display: flex;
	flex-direction: column;
}

select option {
	background-color: #7ac5d8;
}

h3 {
	color: rgb(77, 77, 77);
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#time-table {
	display: flex;
	/* margin: 10px 0; */
}

#time-form {
	margin: 14px 0;
}

#time-form h4 {
	color: rgb(77, 77, 77);
	display: flex;
	align-items: center;
	margin-left: 47px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: bold;
}

input::placeholder {
	color: #fff;
}

textarea,
#Moviefile,
#moname {
	color: #fff;
	width: 75%;
	height: 50px;
	background: transparent;
	justify-content: center;
	display: flex;
	margin: 14px auto;
	padding: 10px;
	border: 1px solid #fff;
	outline: none;
	border-radius: 5px;
}

#time-display #time {
	margin-left: 104px;
	/* margin-top: 4px; */
}

#time {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	outline: none;
	background: transparent;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 34%;
	border-radius: 5px;
	padding: 10px;
}

#inbtn {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	outline: none;
	background: transparent;
	margin-left: 103px;
	margin-top: 0;
	margin-bottom: 0;
	width: 34%;
	border-radius: 5px;
	padding: 10px;
}

#time1 {
	margin-left: 6.5rem;
	margin-top: 3px;
	margin-bottom: 0;
	width: 20%;
}

textarea::placeholder{
	color: #fff;
}

textarea {
	border: 1px solid #fff;
	height: 80px;
	color: #fff;
}

select {
	margin: 14px 0;
	margin-left: 47px;
	width: 30%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnMovie {
	width: 40%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin: 14px auto;
	margin-bottom: 2rem;
}

#chk:checked~.MovieFom {
	transform: translateY(-500px);
}

#chk:checked~.MovieFom label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 40px;
	padding: 25px;
	color: white;
	font-weight: bold;
}

.admin {
	height: 100vh;
	width: 250px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8, #ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.admin button a {
	color: #fff;
	text-decoration: none;
}

#cinematable {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
	background-color: #fff;
	border-radius: 10px;
}

.inputmovie {
	display: flex;
}

#divtd6 {
	width: 70px;
	height: 60px;
	margin-bottom: 20px;
}

#divtd6 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

button,
#btn1,
#btn2 {
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	border: 1px solid #eee;
	color: #fff;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

#time-display #btn1,
#time-display #btn2 {
	margin: 0px 0px 2px 2px;
}

#btn {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 100px 2px 2px;
	border-radius: 5px;
}

#btn1 {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 0px 2px 2px;
	border-radius: 5px;
}

#btn2 {
	height: 42px;
	width: 40px;
	background-color: transparent;
	color: #fff;
	margin: 0 0 2px 2px;
	border-radius: 5px;
}

#btnadmin,
#btnadmin1 {
	width: 70px;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	font-size: 1em;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnadmin {
	margin-left: 10px;
}

#btnadmin1 {
	margin-left: 10px;
	margin-right: 10px;
}

#cinematable {
	display: none;
	position: absolute;
	top: 10%;
	right: 233px;
	color: #000;
	background: #FFFFFF;
}

#FormMovie1 tr th {
	color: rgb(77, 77, 77);
	padding: 20px;
	font-size: 18px;
}

#FormMovie1 tr th:nth-child(5) {
	padding: 20px 82px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#divbtn {
	display: flex;
}

#FormMovie1 tr td {
	color: rgb(77, 77, 77);
	padding: 0 20px;
}

#FormMovie1 tr td:nth-child(4) {
	display: flex;
}

#FormMovie1 tbody {
	text-align: center;
}

.main {
	/* display: none; */
	/* display: inline-block; */
}