@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: #f6f5f7;
}

#chk {
	/* display: none; */
}

/* .signup{
	position: relative;
	width:100%;
	height: 100%;
} */
form label {
	font-size: 20px;
	/* color: #fff; */
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	/* margin: 60px; */
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	width: 70%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#button {
	width: 40%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

.login a{
	color: #FF4B2B;
}

#fontlable {
	font-weight: bold;
	font-size: 60px;
}

span {
	margin: 4.5rem;
}

.login {
	width: 350px;
	height: 380px;
	background: #FFFFFF;
	border-radius: 10px;
	/* transform: translateY(-180px); */
	transition: .8s ease-in-out;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

.login label {
	color: black;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}


.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 35px;
	color: white;
	padding: 10px;
}

.admin {
	height: 100vh;
	width: 250px;
	overflow: hidden;
	border-radius: 10px;
	
}