@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8, #ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#chk {
	/* display: none; */
}

/* .signup{
	position: relative;
	width:100%;
	height: 100%;
} */
form label {
	font-size: 20px;
	color: rgb(77, 77, 77);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	/* margin: 60px; */
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input::placeholder {
	color: #fff;
}

input {
	border: 1px solid #eee;
	width: 70%;
	height: 20px;
	background: transparent;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#button {
	width: 40%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 30px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 40px;
}

.login a{
	color: #23a6d5;
}

#fontlable {
	font-weight: bold;
	font-size: 60px;
}

span {
	color: rgb(77, 77, 77);
	margin: 4.5rem;
}

.login {
	width: 350px;
	height: 380px;
	background: transparent;
	border-radius: 10px;
	/* transform: translateY(-180px); */
	transition: .8s ease-in-out;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10),
		0 10px 10px rgba(0, 0, 0, 0.02);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.login label {
	color: rgb(77, 77, 77);
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}


.haed {
	text-align: center;
	align-items: center;
	height: 100px;
}

.haed h2 {
	font-size: 35px;
	color: white;
	padding: 10px;
}

.admin {
	height: 100vh;
	width: 250px;
	overflow: hidden;
	border-radius: 10px;
	
}