* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
	/* font-size: calc(8px + (24 - 16)*(100vw - 320px)/(1280 - 320)); */
}

body,
input {
	color: var(--fg);
	font: sans-serif;
}

body {
	padding: 30px;
	background: var(--bg);
	/* display: flex; */
	/* height: 100vh; */
}

.login {
	margin-top: 20px;
}

.Movie-data {
	margin-top: 20px;
}

.row1 .card {
	height: 450px;
	margin: 25px;
}

.container {
	border-radius: 10px;
	width: 100%;
	height: 450px;
	overflow: hidden;
	position: relative;
	float: left;
	display: inline-block;
}

.child {
	border-radius: 10px;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.row1 {
    --bs-gutter-x: -0.5rem;
}

.row1 {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}


.child .btn {
	cursor: pointer;
}

span {
	border-bottom: 3px solid #eee;
	display: none;
	font-size: 30px;
	color: #ffffff !important;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 160px;
	height: 50px;
	cursor: pointer;
	text-decoration: none;
}

.container:hover .child,
.container:focus .child {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.container:hover .child:before,
.container:focus .child:before {
	display: block;
}

.container:hover span,
.container:focus span {
	display: block;
}

.child:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 73, 94, 0.75);
}

@media screen and (max-width: 960px) {
	.container {
		width: 100%;
		margin: 20px 0;
	}
}

.btn {
	margin-top: 10px;
	background-color: #b49fda;
	border: none;
}

.btn:hover {
	background-color: #a58bd8;
}

form,
input,
.caret {
	margin: auto;
}

form {
	position: relative;
	width: 100%;
	max-width: 17em;
}

input,
.caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
	-webkit-transition: all calc(var(--dur) * 0.5) linear;
	-moz-transition: all calc(var(--dur) * 0.5) linear;
	-ms-transition: all calc(var(--dur) * 0.5) linear;
	-o-transition: all calc(var(--dur) * 0.5) linear;
}

input {
	cursor: pointer;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:focus,
input:valid {
	cursor: text;
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}

input:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}

input:focus+.caret,
input:valid+.caret {
	cursor: pointer;
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
}

input::-webkit-search-decoration {
	-webkit-appearance: none;
}

#h1 h1 {
	text-align: center;
	text-decoration: underline;
}

label {
	color: #e3e4e8;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}

.caret {
	cursor: pointer;
    background: #17181c;
    border-radius: 0 0 0.125em 0.125em;
    margin-bottom: -0.6em;
    width: 0.2em;
    height: 0.8em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
    transform-origin: 50% 0;
    margin-top: 36px;
    margin-left: 124px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
		--input: #2e3138;
		--primary: #5583f6;
	}
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}

	to {
		caret-color: var(--primary);
	}
}

@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
	}

	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0, -1em) rotate(-180deg) translate(0, 0.875em);
	}

	50%,
	62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 2.5em);
	}

	75%,
	99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
	}

	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 0.125em);
	}

	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
	}
}